@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-offset-1">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Colombo, Srilanka.
    </address>

    <address>
        <strong>Contact:</strong>   <a href="Admin@Bidz.lk">Admin@Bidz.lk</a><br />
      
    </address>
    </div>