
@{
    ViewBag.Title = "SuccessFullyCreated";
}

<h2 class="col-md-offset-3">Your live auction Successfully created!.</h2>
<p class="col-md-offset-3">Please go to Home page in order to search your live auction.</p>
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />

<br />

<br />
<br />
<br />
<br />
<br />
