
@{
    ViewBag.Title = "PleaseConfirmYourEmail";
    Session.Clear();
}

<h2 class="col-lg-offset-1">Please Confirm Your Email</h2>
<br />
<p class="col-lg-offset-1">Go to your email and click recieved email link and confirm:</p>

